//reset

html, body, div, span, h1, h2,
a, header, hgroup, menu, section,  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}
button {
    border: none;
    background-color: none;
}
@font-face {
	font-family:"Lato";
	src: url(assets/fonts/Lato/Lato-Light/Lato-Light.eot);
	src: url(assets/fonts/Lato/Lato-Light/Lato-Light.eot?#iefix) format("embedded-opentype"),
		 url(assets/fonts/Lato/Lato-Light/Lato-Light.otf) format("otf"),
		 url(assets/fonts/Lato/Lato-Light/Lato-Light.ttf) format("truetype"),
		 url(assets/fonts/Lato/Lato-Light/Lato-Light.woff) format("woff");
	font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family:"Lato";
	src: url(assets/fonts/Lato/Lato-Regular/Lato-Regular.eot);
	src: url(assets/fonts/Lato/Lato-Regular/Lato-Regular.eot?#iefix) format("embedded-opentype"),
		 url(assets/fonts/Lato/Lato-Regular/Lato-Regular.otf) format("otf"),
		 url(assets/fonts/Lato/Lato-Regular/Lato-Regular.ttf) format("truetype"),
		 url(assets/fonts/Lato/Lato-Regular/Lato-Regular.woff) format("woff");
	font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family:"Lato";
	src: url(assets/fonts/Lato/Lato-Bold/Lato-Bold.eot);
	src: url(assets/fonts/Lato/Lato-Bold/Lato-Bold.eot?#iefix) format("embedded-opentype"),
		 url(assets/fonts/Lato/Lato-Bold/Lato-Bold.otf) format("otf"),
		 url(assets/fonts/Lato/Lato-Bold/Lato-Bold.ttf) format("truetype"),
		 url(assets/fonts/Lato/Lato-Bold/Lato-Bold.woff) format("woff");
	font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family:"Lato";
	src: url(assets/fonts/Lato/Lato-Black/Lato-Black.eot);
	src: url(assets/fonts/Lato/Lato-Black/Lato-Black.eot?#iefix) format("embedded-opentype"),
		 url(assets/fonts/Lato/Lato-Black/Lato-Black.otf) format("otf"),
		 url(assets/fonts/Lato/Lato-Black/Lato-Black.ttf) format("truetype"),
		 url(assets/fonts/Lato/Lato-Black/Lato-Black.woff) format("woff");
	font-weight: 900;
    font-style: normal;
}

html {
    width: 100%;
	height: 100%;
    font-size: 16px;
    line-height: normal;
    font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: #fff;
}
body {
    width: 100%;
    max-width: 1020px;
	height: 100%;
    margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
}
a  {
	color: #fff;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 45px 0 29px;
    color: #767e9e;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}
h1, h2 {
    font-size: 1.85rem;
    line-height: 0.62;
    font-weight: 700;
    letter-spacing: 1px;
    color: #666d89;
}
.text {
    font-size: 1.125rem;
    line-height: 1.67;
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.2px;
}
.portfolio {
    color: #666d89;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding-bottom: 46px;
}
.portfolio-buttons {
    display: flex;
    margin: -6px 0 20px;
}
.portfolio .flex-between {
    flex-wrap: wrap;
}
.portfolio img {
    margin-bottom: 20px;
}
.portfolio-buttons button {
    margin-right: 10px;
    padding: 2px 4px;
    color: #666d89;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    text-transform: capitalize;
}
.portfolio-buttons button:nth-of-type(1) {
    padding: 2px 7px;
}
.portfolio-buttons button:hover,
.portfolio-buttons button:focus
 {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}
.about {
    color: #666d89;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}
.about .flex-between {
    margin-top: 46px;
}
.team-item {
    width: 300px;
}
.team-name {
    margin-top: 13px;
    font-size: 1.21rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -1px;
    text-align: justify;
    white-space: nowrap;
    color: #666d89;
}
.team-description {
    margin-top: -10px;
    font-size: 0.75rem;
    line-height: 1.83;
    text-align: justify;
    color: #767e9e;
}
.team-links {
    display: flex;
    padding-left: 0;
    margin-top: 21px;
}
.team-links a {
    margin-right: 6px;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #666d89;
    background-color: #f2f2f2;
}
.team-links li:nth-of-type(1) a {
    background: url('assets/img/facebook.png') no-repeat center;
}
.team-links li:nth-of-type(2) a {
    background: url('assets/img/google+.png') no-repeat center;
}
.team-links li:nth-of-type(3) a {
    background: url('assets/img/twitter.png') no-repeat center;
}
.team-links li:nth-of-type(4) a {
    background: url('assets/img/linkedin.png') no-repeat center;
}
.team-links a:hover,
.team-links a:focus {
    transform: scale(1.2);
}
