/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

//reset
html, body, div, span, h1, h2,
a, header, section,  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, footer, header, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}
button {
    border: none;
    background-color: none;
}
@font-face {
	font-family:"Lato";
	src: url('assets/fonts/Lato/Lato-Light/Lato-Light.eot');
	src: url('assets/fonts/Lato/Lato-Light/Lato-Light.eot?#iefix') format("embedded-opentype"),
		 url('assets/fonts/Lato/Lato-Light/Lato-Light.otf') format("otf"),
		 url('assets/fonts/Lato/Lato-Light/Lato-Light.ttf') format("truetype"),
		 url('assets/fonts/Lato/Lato-Light/Lato-Light.woff') format("woff");
	font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family:"Lato";
	src: url('assets/fonts/Lato/Lato-Regular/Lato-Regular.eot');
	src: url('assets/fonts/Lato/Lato-Regular/Lato-Regular.eot?#iefix') format("embedded-opentype"),
		 url('assets/fonts/Lato/Lato-Regular/Lato-Regular.otf') format("otf"),
		 url('assets/fonts/Lato/Lato-Regular/Lato-Regular.ttf') format("truetype"),
		 url('assets/fonts/Lato/Lato-Regular/Lato-Regular.woff') format("woff");
	font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family:"Lato";
	src: url('assets/fonts/Lato/Lato-Bold/Lato-Bold.eot');
	src: url('assets/fonts/Lato/Lato-Bold/Lato-Bold.eot?#iefix') format("embedded-opentype"),
		 url('assets/fonts/Lato/Lato-Bold/Lato-Bold.otf') format("otf"),
		 url('assets/fonts/Lato/Lato-Bold/Lato-Bold.ttf') format("truetype"),
		 url('assets/fonts/Lato/Lato-Bold/Lato-Bold.woff') format("woff");
	font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family:"Lato";
	src: url('assets/fonts/Lato/Lato-Black/Lato-Black.eot');
	src: url('assets/fonts/Lato/Lato-Black/Lato-Black.eot?#iefix') format("embedded-opentype"),
		 url('assets/fonts/Lato/Lato-Black/Lato-Black.otf') format("otf"),
		 url('assets/fonts/Lato/Lato-Black/Lato-Black.ttf') format("truetype"),
		 url('assets/fonts/Lato/Lato-Black/Lato-Black.woff') format("woff");
	font-weight: 900;
    font-style: normal;
}

html {
    width: 100%;
	height: 100%;
    font-size: 16px;
    line-height: normal;
    font-family: 'Lato', sans-serif;
	font-weight: normal;
    text-align: justify;
	color: #767e9e;
}
body {
    width: 100%;
    max-width: 1020px;
	height: 100%;
    margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
}
a  {
	color: #fff;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header {
    font-weight: 700;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.logo {
    padding: 29px 0;
    font-size: 1.56rem;
    font-weight: 700;
    letter-spacing: -0.8px;
    text-transform: uppercase;
}
.logo::after {
    content: '*';
    margin-left: -4px;
    color: #f06c64;
}
.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 9px;
}
.menu__list a {
    padding: 0 11px;
    font-size: 0.78rem;
    text-transform: uppercase;
}
.menu__list a:hover,
.menu__list a:focus {
    color: #f06c64;
    cursor: pointer;
}
.menu__list li:after {
    content: '\B7';
    font-size: 0.78rem;
    font-weight: 700;
    color: #494e62;
}
.menu__list li:nth-last-of-type(1):after {
    content: ' ';
}
.menu__list li:nth-last-of-type(1) a {
    padding-right: 0;
}
main {
    padding: 53px 0 56px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.slider {
    position: relative;
    height: 100%;
    padding: 0 73px;
}
.slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
}
.slide div:nth-of-type(2) {
    margin-right: -2px;
}
.btn-prev,
.btn-next {
    position: absolute;
    top: calc(50% - 13px);
    display: block;
    width: 16px;
    height: 27px;
    background: url('assets/img/chev.png') no-repeat;
}
.btn-prev {
    left: 0;
}
.btn-next {
    right: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.btn-prev:hover,
.btn-next:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.btn-next:hover {
    -webkit-transform: rotate(180deg) scale(1.2);
        -ms-transform: rotate(180deg) scale(1.2);
            transform: rotate(180deg) scale(1.2);
}

section {
    padding: 45px 0 29px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}
.title {
    font-size: 1.85rem;
    line-height: 0.62;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #666d89;
}
.text {
    font-size: 1.125rem;
    line-height: 1.67;
    font-weight: 300;
    letter-spacing: -0.2px;
}
.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 29px;
}
.services > div {
    width: 300px;
}
.service-image {
    display: block;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 59px;
    height: 59px;
    background: url('assets/img/sprite.png') no-repeat;
    background-position: 0 0;
}
.service-image2 {
    background-position: 0 -131px;
}
.service-image3 {
    background-position: 0 -270px;
}
.service-image4 {
    background-position: 0 -409px;
}
.service-image5 {
    background-position: 0 -575px;
}
.service-image6 {
    background-position: 0 -741px;
}
.service-content {
    width: 220px;
}
.service-title {
    margin: -2px 0 0;
    font-size: 1.22rem;
    line-height: 1;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: -0.8px;
    color: #666d89;
}
.service-text {
    margin: 9px 0 34px;
    font-size: 0.75rem;
    line-height: 1.83;
    text-align: justify;
    color: #767e9e;
}

.portfolio {
    padding-bottom: 46px;
    color: #666d89;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.portfolio-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -6px 0 20px;
}
.portfolio .flex-between {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.portfolio img {
    margin-bottom: 20px;
}
.portfolio img:nth-of-type(n+13) {
    display: none;
}
.portfolio-buttons button {
    margin-right: 10px;
    padding: 2px 4px;
    font-family: 'Lato';
    letter-spacing: -0.4px;
    text-transform: capitalize;
    color: #666d89;
    background-color: #2d303a;
    border: 1px solid #666d89;
    border-radius: 5px;
}
.portfolio-buttons button:nth-of-type(1) {
    padding: 2px 7px;
}
.portfolio-buttons button:hover,
.portfolio-buttons button:focus
 {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}
.about {
    padding-bottom: 51px;
    color: #666d89;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}
.about .flex-between {
    margin-top: 46px;
}
.team-item {
    width: 300px;
}
.team-name {
    margin-top: 13px;
    font-size: 1.21rem;
    line-height: 1;
    font-weight: 900;
    letter-spacing: -1px;
    white-space: nowrap;
    color: #666d89;
}
.team-description {
    margin-top: -10px;
    font-size: 0.75rem;
    line-height: 1.83;
    color: #767e9e;
}
.contacts {
    color: #f0d8d9;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;;
}
.contacts .title {
    letter-spacing: 0.1px;
    color: #f0d8d9;
}
.contacts .flex-between {
    position: relative;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 45px 0 37px;
}
form {
    width: 65.8%;
}
input, textarea {
    width: calc(100% - 30px);
    padding: 1px 15px;
    font-size: 0.75rem;
    color: #f48c8f;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 0.75rem;
    color: #f48c8f;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 0.75rem;
    color: #f48c8f;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 0.75rem;
    color: #f48c8f;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 0.75rem;
    color: #f48c8f;
}
input::placeholder,
textarea::placeholder {
    font-size: 0.75rem;
    color: #f48c8f;
}
input {
    height: 36px;
    margin-bottom: 16px;
}
textarea {
    resize: none;
    padding: 12px 15px 21px;
    letter-spacing: -1.5px;
}
.contacts button {
    position: absolute;
    bottom: 0;
    left: 68%;
    font-size: 1rem;
    font-weight: 900;
    color: #f0d8d9;
    padding: 15px 30px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
}
.contact-info {
    width: 32%;
    font-size: 0.75rem;
}
.contact-info h3 {
    margin-top: 0;
    font-size: 1.22rem;
    line-height: 1;
    font-weight: 900;
    letter-spacing: -0.5px;
}
.contact-info .text {
    margin: -9px 0 25px;
    font-size: 0.75rem;
    line-height: 1.78;
}
.contact-links {
    padding-left: 0;
}
.contact-links li {
    margin-bottom: 6px;
}
.contact-links li:last-child {
    margin-top: 8px;
}
.contact-links li::before {
    content: ' ';
    display: inline-block;
    width: 13px;
    height: 11px;
    margin-right: 10px;
    background-image: url('assets/img/location.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}
.contact-links li:nth-of-type(2)::before {
    background-image: url('assets/img/phone.png');
}
.contact-links li:nth-of-type(3)::before {
    background-image: url('assets/img/mail.png');
}
.contact-links a {
    font-size: 0.75rem;
    color: #f0d8d9;
}
.team-links,
.footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 23px;
    padding-left: 0;
}
.footer-links {
    margin-top: 22px;
}
.team-links a,
.footer-links a {
    display: block;
    width: 31px;
    height: 31px;
    margin-right: 7px;
    background-color: #f2f2f2;
    border: 1px solid #666d89;
    border-radius: 50%;
}
.team-links li:nth-of-type(1) a,
.footer-links li:nth-of-type(1) a {
    background: url('assets/img/facebook.png') no-repeat center;
}
.team-links li:nth-of-type(2) a,
.footer-links li:nth-of-type(2) a {
    background: url('assets/img/google+.png') no-repeat center;
}
.footer-links li:nth-of-type(2) a,
.footer-links li:nth-of-type(1) a {
    margin-right: 8px;
}
.footer-links li:nth-of-type(3) a {
    margin-right: 6px;
}
.team-links li:nth-of-type(3) a,
.footer-links li:nth-of-type(3) a {
    background: url('assets/img/twitter.png') no-repeat center;
}
.team-links li:nth-of-type(4) a,
.footer-links li:nth-of-type(4) a {
    margin-right: 0;
    background: url('assets/img/linkedin.png') no-repeat center;
}
.team-links a:hover,
.team-links a:focus,
.footer-links a:hover,
.footer-links a:focus {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
footer {
    padding-bottom: 6px;
    background-color: #2d303a;
}
footer .text {
    margin-top: 4px;
    font-size: 0.75rem;
    letter-spacing: 0px;
}
